/* DEBUG */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    display: block;
}
/* /DEBUG */

#container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

#container #carousel {
    width: 80%;
    position: relative;
}

#container #carousel img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

#container #preview-cards {
    width: 20%;
    position: relative;
}


/* classi aggiunte tramite JS */

.card-opacity {
    opacity: 0.5;
}

.selected-card {
    opacity: 1;
}